body {
    display: flex;
    justify-content: center;
    background: whitesmoke;
    background-size: cover;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 4.3s linear;
}
::-webkit-scrollbar {
    width: 6px; /* Chiều rộng thanh cuộn dọc */
    height: 6px; /* Chiều cao thanh cuộn ngang (nếu có) */
}

::-webkit-scrollbar-thumb {
    background-color: #999; /* Màu của phần cuộn */
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent; /* Màu nền track */
}
/* App.scss */

:root {
    --background-color: #ffffff;
    --header-bg: #1e1e1e;
    --text-color: #ffffff;
    --item-bg: #ffffff;
    --navbar-bg: #1e1e1e;
    --humanBeings-bg: #1e1e1e;
    --section-bg: #1e1e1e;
}

.dark {
    --background-color: #1e1e1e;
    --header-bg: #f5f5f5;
    --text-color: #000000;
    --item-bg: #1e1e1e;
    --navbar-bg: #f5f5f5;
    --humanBeings-bg: #f5f5f5;
    --section-bg: #f5f5f5;
}

html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.App {
    width: 1500px;
    padding: 10px;
}
@media (max-width: 768px) {
    .App {
        width: 100vw;
        overflow: hidden auto;
    }
}
